.env
.venv
/venv
/github
.github

.DS_Store
/src/__pycache__
data/*/
brudnopis_poleval.ipynb
brudnopis_ar.ipynb
/output
brudnopis_poleval.ipynb
brudnopis_ar.ipynb
brudnopis_moduly.ipynb
/output
/notatki
grounding_script.ipynb